.advantages {
  position: relative;

  min-height: 240px;
  padding: 120px 0;

  text-align: center;

  background-color: $color-solitude;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/advantages-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
  }

  @include vp-1024 {
    @include retina {
      &::before {
        background-image: url("../img/advantages-background@2x.jpg");
      }
    }
  }

  @include vp-1023 {
    padding: 100px 0;

    &::before {
      background-image: url("../img/advantages-background-tablet.jpg");

      @include retina {
        background-image: url("../img/advantages-background-tablet@2x.jpg");
      }
    }
  }

  @include vp-767 {
    padding: 65px 0 35px;
  }

  @include vp-374 {
    &::before {
      background-image: url("../img/advantages-background-mobile.jpg");

      @include retina {
        background-image: url("../img/advantages-background-mobile@2x.jpg");
      }
    }
  }
}

.advantages__content {
  position: relative;
}

.advantages__list {
  display: flex;
  text-align: start;

  @include vp-767 {
    flex-direction: column;
  }
}

.advantages__item {
  flex-grow: 1;
  flex-basis: 206px;
  margin-right: 40px;
  min-height: 241px;
  padding: 30px 30px 25px;

  background-color: $color-alice-blue;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;

    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1023 {
      max-width: 36px;
      max-height: 26px;
    }
  }

  &--cruise-ship::before {
    background-image: url("../img/svg/cruise-ship.svg");
  }

  &--all-inclusive::before {
    background-image: url("../img/svg/all-inclusive.svg");
  }

  &--tours::before {
    background-image: url("../img/svg/tours.svg");
  }

  @include vp-1023 {
    padding: 26px 15px 20px 20px;
  }

  @include vp-767 {
    margin: 0 0 30px;
  }
}

.advantages h2 {
  margin-bottom: 60px;

  font-weight: 600;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.advantages__item h3 {
  margin: 5px 0 20px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.advantages__item p {
  margin: 20px 0;

  font-size: 14px;
  line-height: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
