.catalog {
  min-height: 600px;
  padding: 60px 0 106px;

  text-align: center;

  @include vp-1023 {
    padding: 70px 0 84px;
  }

  @include vp-767 {
    padding: 38px 0 50px;
  }
}

.catalog h2 {
  margin-bottom: 35px;

  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__card-list {
  display: flex;
  flex-wrap: wrap;

  text-align: start;

  @include vp-1023 {
    margin-left: auto;
    margin-right: auto;
  }
}

.catalog__card-item {
  position: relative;

  margin: 15px;
  width: calc(25% - 30px);
  min-height: 300px;

  color: $color-alice-blue;


  &:hover,
  &:focus-visible,
  &:focus-within {
    .catalog__card-content {
      z-index: 2;
    }
  }

  @include vp-1023 {
    width: calc(50% - 30px);
  }

  @include vp-767 {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
  }
}

.catalog__card-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: grid;
  grid-template-columns: minmax(8px, 25px) minmax(194px, 1fr) minmax(8px, 25px);
  grid-template-rows: 25px 1fr auto auto 25px;
  width: 100%;
  height: 100%;

  background-color: $color-tangaroa;

  @include vp-1023 {
    grid-template-columns: minmax(8px, 35px) minmax(159px, 1fr) minmax(8px, 35px);
  }

  @include vp-767 {
    grid-template-columns: 25px minmax(159px, 1fr) 25px;
  }
}

.catalog__card-description {
  grid-column: 2/-2;
  grid-row: 3/-3;
  margin-top: 14px;

  overflow-y: auto;
}

.catalog__card-description p {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 19px;
}

.catalog__card-description h4 {
  margin: 0;

  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.catalog__card-item img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog__card-item h3 {
  grid-column: 2/-2;
  grid-row: 2/3;
  margin: 0;
  margin-top: 5px;

  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.catalog__card-button {
  text-align: center;
  width: 100%;
  grid-column: 2/-2;
  grid-row: -2/-3;
  padding: 9px 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.catalog__card-cover {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    display: block;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $color-tangaroa 100%);
  }

  background-image: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $color-tangaroa 100%);
}

.catalog__card-cover h3 {
  position: absolute;
  right: 30px;
  bottom: 23px;
  left: 30px;

  font-weight: 500;

  @include vp-1023 {
    bottom: 28px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}
