.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  list-style: none;

  @include vp-767 {
    display: block;
  }
}

.main-nav__list-item {
  margin-left: 36px;

  @include vp-1023 {
    margin-left: 26px;
  }

  @include vp-767 {
    margin-left: 12px;
  }
}
