.mobile-menu.is-open {
  @include vp-767 {
    position: fixed;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 43, 102, 0.5);
    overflow-y: auto;
  }
}

.mobile-menu__list {
  @include vp-767 {
    display: none;
  }
}

.mobile-menu.is-open .mobile-menu__content {
  @include vp-767 {
    position: absolute;
    right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    grid-template-rows: 25px;
    padding: 20px 15px;
    width: calc(100% - 36px);
    min-height: 100%;

    background-color: $color-alice-blue;
  }
}

.mobile-menu.is-open .mobile-menu__list {
  @include vp-767 {
    display: block;
    grid-column: span 2;
    align-self: start;
  }
}

.mobile-menu__toggle {
  display: none;
  margin-left: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-767 {
    position: relative;

    display: block;
    width: 24px;
    height: 24px;

    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";

      display: block;
      width: 100%;
      height: 2px;
      box-shadow:
        0 7px 0 0 $color-alice-blue,
        0 13px 0 0 $color-alice-blue,
        0 19px 0 0 $color-alice-blue;
    }
  }
}

.mobile-menu.is-open .mobile-menu__toggle {
  align-self: start;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    display: block;
    width: 2px;
    height: 20px;

    background-color: $color-tangaroa;
    box-shadow: none;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
