.page-header {
  position: absolute;
  width: 100%;

  min-height: 60px;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    text-shadow: none;
  }
}

.page-header__wrapper {
  display: flex;
  min-height: 110px;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 60px;
  }
}
