.page-footer {
  background-color: $color-tangaroa;

  @include vp-767 {
    padding: 40px 0;
  }
}

.page-footer__content {
  min-height: 138px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.page-footer__nav {
  flex-grow: 1;
}
