.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 27px;
  row-gap: 15px;
  padding: 10px 0;
  margin: 0;
  margin-left: auto;

  list-style: none;

  @include vp-1023 {
    column-gap: 20px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.social__link {
  display: flex;
  width: 20px;
  height: 20px;

  @include vp-1023 {
    width: 18px;
    height: 18px;
  }

  @include vp-767 {
    &--ok {
      width: 10px;
    }
  }
}

.social__link svg {
  fill: $color-alice-blue;

  &:hover {
    fill: darken($color-alice-blue, 30%);
  }

  &:active {
    fill: darken($color-alice-blue, 60%);
  }
}

.social__link * {
  max-width: 20px;
  max-height: 20px;
  margin: auto;

  @include vp-1023 {
    max-width: 17px;
    max-height: 17px;
  }
}
